.btn_to_signup_page {
    height: 19px;
    width: 59px;
    border-radius: 8px;
    border: 0;
    background-color: rgb(42, 54, 71);
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 16px;
    text-decoration: none;
}

.btn_to_signup_page:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #29ABE2;
}

.login_btn {
    height: 48px;
    width: 110px;
    border-radius: 8px;
    border: 0;
    background-color: rgb(42, 54, 71);
    color: white;
    padding: 15px 24px;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_btn:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.guest_login_btn {
    height: 16px;
    width: 127px;
    border-radius: 8px;
    border: 1px solid rgb(42, 54, 71);
    background-color: white;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 24px;
    color: rgb(42, 54, 71);
    font-weight: 700;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
}

.guest_login_btn:hover {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #29ABE2;
    color: #29ABE2;
}

.signup_btn {
    width: 126px;
    height: 55px;
    border-radius: 8px;
    padding: 15px 24px;
    border: 0;
    background-color: rgb(42, 54, 71);
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-weight: 700;
    font-size: 21px;
}

.signup_btn:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #29ABE2;
}

.check_btn {
    width: 16px;
}

.check_btn:hover {
    cursor: pointer;
}