.sign_up_btn {
    height: 19px;
    width: 59px;
    border-radius: 8px;
    border: 0;
    background-color: rgb(42, 54, 71);
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 16px;
    text-decoration: none;
}

.sign_up_btn:hover {
    cursor: pointer;
    text-decoration: none;
}

.login_btn {
    height: 48px;
    width: 110px;
    border-radius: 8px;
    border: 0;
    background-color: rgb(42, 54, 71);
    color: white;
    padding: 15px 24px;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guest_login_btn {
    height: 16px;
    width: 127px;
    border-radius: 8px;
    border: 1px solid rgb(42, 54, 71);
    background-color: white;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 24px;
    color: rgb(42, 54, 71);
    font-weight: 700;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
}

.guest_login_btn:hover {
    cursor: pointer;
    text-decoration: none;
}