body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(246, 247, 248);
  
}

.bg_login {
    width: 100%;
    height: 100%;
}

.header_login {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 67px;
    padding-left: 77px;
    padding-right: 77px;
}

.logo {
    width: 200.03px;
    height: 121.97px;
    padding-top: 40px;

}

.sign_up_div {
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    padding-right: 24px;
}

.login_content {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_field {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 48px 115px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 14px 3px rgb(0, 0, 0, 0.04);
    height: 353px;
}

.login_heading_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 315px;
}

.heading_login {
    font-size: 61px;
    font-weight: 700;
}

.seperator_log_in {
    width: 150px;
    height: 3px;
    background-color: rgb(41, 171, 226);
}

.login_inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 13px;
}

.div_inp_pw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.visibility_icon_pos{
    right: 95px;
    top: 395px;
    position: fixed;
    height: 30px;
}

.wrong_data_alert {
    color: #FF8190;
    font-size: 13px;
    font-weight: 400;
}

.input_login {
    height: 22px;
    padding: 12px 21px;
    width: 378px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    background-repeat: no-repeat;
}

.input_login::placeholder {
    color: #D1D1D1;
    font-size: 20px;
    width: 380px;
}

.input_mail[type=email] {
    background-image: url(../assets/icons/mail.svg);
    background-size: 24px;
    background-position: 374px 11px;
}

.input_pw[type=password] {
    background: none; 
}

.lock-icon {
    position: absolute;
    right: 27px;
    top: 12px;
    cursor: pointer;
    display: block; 
}

.eye-icon {
    position: absolute;
    right: 27px;
    top: 12px;
    cursor: pointer;
    display: none; 
}

.password-container {
    position: relative;
}

.login_btns {
    display: flex;
    gap: 35px;
}

.login_footer {
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
}

.signup_footer{
    height: 60px;
    padding-top: 0;
    display: flex;
    justify-content: center;
}

.links_footer_login {
    display: flex;
    width: 246px;
}

.links_footer {
    font-weight: 400;
    font-size: 16px;
    color: #CDCDCD;
    display: flex;
    justify-content: center;
    padding: 8px;
    text-decoration: none;
}

.links_footer:hover {
    color: #29ABE2;
    font-weight: 700;
}

.link_privacy_policy {
    width: 121px;
}

.link_privacy_policy:hover {
    text-decoration: none;
    cursor: pointer;
}

.link_legal_notice {
    width: 109px;
}

.link_legal_notice:hover {
    text-decoration: none;
    cursor: pointer;
}

.input_name {
    background-image: url(../assets/icons/person.svg);
    background-size: 24px;
    background-position: 374px 11px;
}

.privacy_check {
    display: flex;
    min-width: 231px;
    min-height: 24px;
    align-items: center;
    gap: 8px;
}

.privacy_check:hover {
    cursor: pointer;

    .check_box_btn {
        background-image: url(../assets/icons/checked_hover.png);
    }
}

.privacy_check:hover {
    cursor: pointer;
}

.pivacy_check_text {
    display: flex;
    align-items: center;
    color: #A8A8A8;
    font-size: 16px;
    font-weight: 400;
    gap: 4px;
}

.link_privacy {
    color: #29ABE2;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

.link_privacy:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
}

.signup_field_header {
    display: flex;
    width: 542px;
    align-items: center;
    justify-content: start;
    gap: 48px;
    padding-left: 56px;
}

.signup_field {
    padding: 0;
    height: 534px;
    padding-top: 48px;
    padding-bottom: 16px;
    position: absolute;
    top: 197px;
}

.no_padding {
    padding: 0;
}

.signup_content {
    min-height: calc(100vh - 261.97px);
}

.login_logo {
    opacity: 1 !important;

}

.login_logo img {
    width: 274px;
    height: 334.07px;
    position: fixed;
    transform: translate(-50%, -50%);
    animation: slide-in 1.0s ease-out forwards;
    z-index: 1000;

}

.mobile_sign_up_div{
    display: none;
}


/* Animation LogoJoin */
@keyframes slide-in {
    from {
        top: 50%;
        left: 50%;
    }

    to {

        width: 90px;
        height: 125px;
        top: 10%;
        left: 7%;

    }
}

.main_container {
    opacity: 0;
    transition: 0.5s ease-in;
    animation: fadeIn 1s ease-in 0.5s forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.wrong_data_alert {
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.wrong_data_alert.show {
    display: block;
}

.position_signup {
    display: flex;
    position: absolute;
    top: 465px;
}