body {
    height: 100vh;
    background-color: rgb(246, 247, 249);
    margin: 0;
    display: flex;
    overflow: hidden;
}

::-webkit-scrollbar {
    scrollbar-width: 6px;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 3px;
}

.full_content {
    display: flex;
    flex: 1;
}

.content_right {
    align-items: center;
    background-color: white;
    flex-grow: 1;
    width: calc(100% - 232px);
}

.main_contant {
    background-color: rgb(246, 247, 249);
    height: 928px;
}

.headline {
    display: flex;
    align-items: center;
    background-color: white;
    height: 96px;
    width: 100%;
    flex-grow: 1;
    gap: 30px;
    justify-content: right;
}

.headline_title {
    display: flex;
    position: absolute;
    left: 320px;
}

.headline_logo_help {
    display: flex;
}

.headline_logo_help:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.headline_logo_user_sign_in {
    padding-right: 32px;
    display: flex;
}

.navbar_seperator {
    height: 3px;
    background-color: rgb(227, 228, 229);
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 96px;
    position: absolute;
    flex-grow: 1;
    width: calc(100% - 232px);
}

.nav {
    background-color: rgba(42, 54, 71);
    width: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-icon-capa2 {
    padding-top: 56px;
}

.div_nav_icons {
    padding-top: 100px;
}

.navbar_icon {
    color: rgb(251, 255, 255);
    gap: 7px;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    width: 232px;
    height: 45px;
    text-decoration: none;
}

.navbar_current_icon {
    color: rgb(251, 255, 255);
    gap: 7px;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    width: 232px;
    height: 45px;
    background-color: rgb(8, 26, 49);
}

.navbar_icon:hover {
    cursor: pointer;
    background-color: rgba(6, 94, 209, 0.445);
}

.div_impressum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 285px;
}

.nav_impressum {
    color: rgb(168, 168, 168);
    gap: 7px;
    margin-bottom: 15px;
    height: 32px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_impressum_current_icon {
    color: rgb(251, 255, 255);
    height: 32px;
    width: 232px;
    background-color: rgb(8, 26, 49);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.nav_impressum:hover {
    cursor: pointer;
    color: rgb(37, 172, 226);
}