.privacy_policy_text {
    padding: 120px 96px;
    overflow-y: auto;
    height: 600px;
    background-color: rgb(246, 247, 249);
    flex: 1;
}

.headline_logo_help {
    display: none;
}

h1 {
    color: #000;
    font-weight: bold;
    padding-bottom: 16px;
    font-size: 52px;
}

h2,
h3 {
    color: #000;
    font-weight: bold;
    padding-bottom: 16px;
    padding-top: 16px;
}

p {
    color: #000100;
}

.blue {
    color: rgb(50, 168, 216);
}

.div_impressum_guest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 385px;
    text-decoration: none;
}

.div_nav_icons_guest{
    padding-top: 180px;
}