* {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.d_none {
    display: none !important;
}

.user_logo {
    height: 32px;
    width: 32px;
    background-color: white;
    color: rgb(37, 172, 226);
    border: 4px solid rgb(42, 54, 71);
    border-radius: 100%;
    padding: 10px 10px;
    font-size: 22px;
    font-weight: bold;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_logo:hover {
    cursor: pointer;
    background-color: rgb(227, 228, 229);
}