* {
    margin: 0;

}

h1 {
    position: absolute;
    top: 206px;
    left: 328px;
    gap: 1px;
    height: 73px;
    width: 278px;
    font-size: 61px;
    font-weight: 700;
}

span {
    color: #2A3647;
}

.star-red {
    color: #FF8190;
}

.title {
    width: 440px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
}

.input-title {
    display: flex;
    height: 48px;
    border-radius: 10px;
    border: 1px solid;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    font-size: 20px;
    font-weight: 400;
    border-color: #D1D1D1;
    margin-bottom: 20px;
}

.div-input-title {
    height: 64px;
    width: auto;
    display: flex;
    gap: 4px;
}

.section-title {
    position: absolute;
    top: 327px;
    left: 328px;
    width: 440px;
    height: 376px;
}

.section-title-div {
    display: flex;
    gap: 4px;
    flex-direction: column;
    width: 440px;
    height: 96px;
}

.section-description {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
        font-weight: 400;
        font-size: 20px;
    }


}

.textarea-description {
    display: flex;
    gap: 4px;
    width: 440px;
    height: 136px;

    textarea {
        resize: none;
        display: flex;
        width: 440px;
        height: 120px;
        border-radius: 10px;
        border-width: 1px;
        border-color: #D1D1D1;
        padding: 18px 16px 18px 16px;
        gap: 10px;
        font-weight: 400;
        font-size: 20px;
    }
}

.textarea-icon {
    height: 18.9px;
    width: 18.0px;
    position: absolute;
    right: 5px;
    top: 262px;
}

.section-assigned {
    position: absolute;
    height: 80px;
    display: flex;
    flex-direction: column;
    top: 296px;
    gap: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    select {
        border-radius: 10px;
        padding: 12px 16px 12px 16px;
        width: 440px;
        font-weight: 400;
        font-size: 20px;
        border-color: #D1D1D1;
    }
}

.icon-contact {
    width: 32px;
    height: 32px;
    border-radius: 45px;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #462F8A;
}

.assigned-title {
    height: 24px;
    width: 112px;
}

.section-date {
    position: absolute;
    top: 327px;
    left: 864.25px;
    width: 440px;
    height: 416px;
    font-weight: 400;
    font-size: 20px;


}

.section-date-div {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.date-input {
    background-size: 20px;
    padding: 12px 16px 12px 16px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    line-height: 24px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.date-input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.date-icon {
    position: absolute;
    right: 10px;
    top: 40px;
}


.section-prio {
    position: absolute;
    top: 120px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 88px;
    width: 440px;

    span {
        color: black;
    }
}




.section-category {
    position: absolute;
    top: 232px;
    display: flex;
    gap: 8px;
    flex-direction: column;

    span {
        width: 98px;
        height: 24px;
    }

    select {
        height: 48px;
        width: 440px;
        padding: 12px 16px 12px 16px;
        font-size: 20px;
        line-height: 24px;
        border-color: #D1D1D1;
        border-radius: 10px;


    }
}

.category-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 440px;
}

/* Select-Feld stylen */
.category-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    cursor: pointer;
}



/* Custom Pfeil-Icon */
.custom-arrow {
    position: absolute;
    right: 25px;
    width: 7.21px;
    height: 4.6px;
    pointer-events: none;
    color: #2A3647;
}


.section-subtasks {
    width: 440px;
    height: 80px;
    position: absolute;
    top: 336px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-subtasks {
    width: 440px;
    height: 24px;
    padding: 12px 16px 12px 16px;
    border: 1px solid;
    border-color: #D1D1D1;
    border-radius: 10px;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.add-subtasks {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 20px;
}

hr {
    position: absolute;
    top: 327px;
    left: 816.25px;
    width: 0px;
    height: 424px;
    motion-rotation: 0;
}

.check {
    width: 15.49px;
    height: 11.22px;

}

.cancel {
    height: 24px;
    width: 24px;
}

.img-up {
    width: 20px;
    height: 14.51px;

}

.img-medium {
    height: 20px;
    width: 7.45px;
}

.img-down {
    width: 20px;
    height: 14.51px;
}

.required-text {
    position: absolute;
    top: 890px;
    left: 328px;
    height: 27px;
    font-size: 16px;
    line-height: 19.2px;
}

input:hover {
    cursor: pointer;
}


textarea:hover {
    cursor: pointer;
}
