
.close_btn_AddOverlay{
position: relative;
left: 95%;
top: 20px;
width: 16px;
height: 16px;
}


.Title_AddTaskOver{
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0;
    margin-left: 30px;
    
}


.textarea_description {
       textarea {
        width: 100%;
        height: 80px;
   
        
     }
 
}


.textarea-icon {
    height: 18.9px;
    width: 18.0px;
    right: 5px;
    top: 262px;
}
 

.section_assigned {
    width: 100%;
   margin-top: 20px;
}

.task_Contact_dropdown {
    display: inline-block;
}


.task_dropdown_input_AddOver{
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    background-color: white;
}

.initial_Letters_Contact {
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    width: 42px;
    height: 42px;
    border-radius: 45px;
    border-color: black;
    border-style: solid;
    border-width: 0.5px;
    margin-top: 10px;
}


.task_Date_Input_Div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}


.date_input {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    height: 48px;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    border-radius: 8px;
    padding-left: 10px;
}

.date_input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


.date_icon:hover {
    cursor: pointer;
}


.date_icon_Edit {
    position: relative;
    right: 30px;
    width: 24px;
    height: 24px;
}

.section_prio {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 88px;
    width: 440px;
    span {
        color: black;
    }
}


.prio_img_group {
    display: flex;
    flex-direction: column;
    gap: 3px;
    filter: brightness(0) saturate(100%) invert(53%) sepia(98%) saturate(615%) hue-rotate(-15deg);
}


.btn_prio:hover {
    transform: translateY(-2px);
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
}


.button_medium {
    background-color: #FFA800;
    color: white;
}


.section_category {
    display: flex;
    gap: 8px;
    flex-direction: column;
    span {
        width: 98px;
        height: 24px;
    }
    select {
        height: 48px;
        width: 100%;
        padding: 12px 16px 12px 16px;
        font-size: 20px;
        line-height: 24px;
        border-color: #D1D1D1;
        border-radius: 10px;
    }
}


  .section_Subtask{
    width: 100%;
    margin-top: 15px;
  }


.input_wrapper {
    display: flex;
    width: 100%;
    margin-top: 10px;
}




.add_subtasks {
    position: relative;
    right: 30px;
    top:18px;
}


.sub_Task_Edit_Iocn {
    position: relative;
    right: 70px;
    gap: 10px;
}


hr {
    position: absolute;
    top: 260px;
    left: 816.25px;
}



.initiale_Icon_List_AddOver {
    display: none;
    align-items: center;
    justify-content: flex-start;
    height:42px;
    width: 175px;
    margin-left: 20px;
    margin-top: 10px;
}



.subtask_list {
     width: 100%;
    height: auto;
   margin-bottom: 30px;
}


.button_bottom_task {
    margin-top: 30px;
}


.sub_task_item {
    width: 95%;
    margin-top: 10px;
   }


.sublist_text {
   gap: 10px;
}


.taskEdit_Btn {
    width: 100px;
    height: 50px;
    border-radius: 8px;
}


.btn_div {
    display: flex;
    justify-content: flex-end;

}


.button_Ok {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 89px;
    height: 57px;
    gap: 15px;
    background-color: #2A3647;
    color: white;
    font-size: 20px;
    line-height: 24px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    img {
        background-color: #2A3647;
    }
}


.button_Ok:hover {
    background-color: #29ABE2;
    img {
        background-color: #29ABE2;
    }
}












