@media (max-width: 1000px) {
    .headline_logo_user_sign_in_mobile{
        display: flex;
        padding-right: 32px;
    }

    .privacy_policy_text {
        padding: 50px 30px;
      
}

.legal_notice_text{
    padding: 50px 30px;
}

.help_content{
    padding: 50px 30px;
}
}

@media (max-width: 400px) {
    .privacy_policy_text{
        height: 430px;
    }
    .legal_notice_text{
        height: 420px;
    }
    .help_content{
        height: 420px;
    }
}