@media (max-width: 1050px) {
    .header_login_signup {
        justify-content: flex-start;
        padding-top: 40px;
    }

    .signup_footer{
        padding-top: 27px;}
}

@media (max-width: 1000px) {
    .header_login_signup {
        padding-top: 20px;
        padding-left: 50px;
    }
    .signup_footer{
        padding-top: 47px;
    }
}

@media (max-width: 850px) {
    .signup_field_header {
        width: 450px;
        gap: 20px;
    }
    .input_login{
        width: 310px;
    }

    .input_name{
        background-position: 315px 11px;
    }

    .input_mail[type=email]{
        background-position: 315px 11px;
    }

    .eye-icon{
        right: 17px;
    }
  
  .lock-icon{
    right: 20px;
  }
}

@media (max-width: 650px) {
    .signup_field_header {
        width: 340px;
        gap: 0;
        padding-left: 40px;
    }

    .login_heading_div{
        width: 250px;
    }

    .input_login{
        width: 230px;
    }

    .input_name{
        background-position: 235px 11px;
    }

    .input_mail[type=email]{
        background-position: 235px 11px;
    }

    .input_pw[type=password]{
        background-position: 235px 11px;
    }

    .input_pw[type=password]{
        background-position: 235px 11px;
    }
}

@media (max-width: 450px) {
    .signup_field {
        height: 500px;
    }
    .signup_field_header {
        width: 280px;
        gap: 0;
        padding-left: 15px;
    }

    .heading_login{
        font-size: 50px;
    }

    .login_heading_div{
        width: 250px;
    }

    .input_login{
        width: 200px;
    }

    .input_name{
        background-position: 205px 11px;
    }

    .input_mail[type=email]{
        background-position: 205px 11px;
    }

    .input_pw[type=password]{
        background-position: 205px 11px;
    }

    .input_pw[type=password]{
        background-position: 205px 11px;
    }

    .wrong_data_alert{
        font-size: 12px;
        top: 455px;
    }
}

@media (max-width: 400px) {
    .signup_field {
        height: 451px;
    }

    .heading_login{
        font-size: 46px;
    }

    .login_inputs{
        gap: 12px
    }


    .wrong_data_alert{
        font-size: 12px;
        top: 420px;
    }
}

@media (max-width: 380px) {
    .header_login_signup{
        padding-top: 0px;
        padding-left: 20px;
    }

    .signup_field {
        height: 420px;
        top: 150px;
        padding-top: 20px;
    }


    .heading_login{
        font-size: 40px;
    }

    .seperator_log_in{
        width: 130px;
    }

    .login_inputs{
        gap: 15px
    }

    .login_field{
        gap: 12px;
    }

    .wrong_data_alert{
        top: 330px;
    }

    .signup_footer{
        padding-top: 70px;
    }
}