@media (max-width: 1183px) {

   h2{
    font-size: 16px;
   } 
    
    .card_overlay{
        display: flex;
        padding: 5 0 0 5;
        margin: 0;
      }


.section_title{
    width: 100%;
    height: 40px;
   
}

.title{
    font-size: 16px;
}


.input_title {
    font-size: 16px;
}

.textarea_description {
    width: 100%;
}

.textarea{
    font-size: 16px;
}



.date_input {  
     margin-right: -20px;
     font-size: 16px;
     height: 40px;
}


.section_prio{
    width: 100%;
}

.prio-buttons {
    display: flex;
    flex-direction:row;
    justify-content: space-between;


     button {
        display: flex;
        flex-direction: row;
        padding: 16px 6px 16px 6px;
        width: 100px;
       height: 40px;
        font-size: 16px;
        line-height: 24px;
        border-radius: 10px;
        border: 0.1px solid;
        border-color: #D1D1D1;
    }
}
   

.assigned_title{
    font-size: 16px;
}

.task_input_section{
    height: 40px;
}


.initiale_Icon_ListEdit{
    font-size: 16px;
}


.task_dropdown_input{
    font-size:16px ;
 }


.section_Subtask{
width: 100%;

}

.subtask_list{
    width: 100%;
  
}




}