.card_contact {
  display: none;
  width: 1212px;
  height: 594px;
  z-index: 1;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slide-in 1.0s ease-out forwards;
}

/* Animation card_contact von links nach rechts */
@keyframes slide-in {
  from {
    left: 100%;
  }

  to {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.contact_Card_Frame {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 453px;
  background-color: #2A3647;
  border-radius: 24px 0 0 24px;
  padding-left: 48px;
  padding-top: 200px;
}


.contact_Card_Input_Frame_one {
  width: 759px;
  background-color: #FFFFFF;
  border-radius: 0 24px 24px 0;
}


.contact_Card_Close_btn {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  margin-top: 48px;
  margin-right: 48px;
}


.contact_Card_Close_img {
  height: 13.5px;
  width: 13.5px;
}


.contact_Card_Close_btn:hover {
  cursor: pointer;
  background-color: #D9D9D9;
  border-radius: 50%;
}


.contact_Card_abbreviation_Frame {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 30px;
  gap: 50px;
}


.contact_Card_abbreviation {
  margin-bottom: 100px;
}


.contact_Card_abbreviation p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: 500;
  background-color: red;
  margin-left: 45px;
  margin-right: 25px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}


.contact_Card_Frame .logo_mobile {
  width: 53.93px;
  height: 66.48px;
}


.contact_Card_Frame p {
  font-size: 61px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
}

.contact_Card_Frame span {
  font-size: 27px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
}

.line-contact {
  width: 70px; 
    border: 3px solid; 
  border-color: #29ABE2;
}




.contact_Card_Input_Frame_two {
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.contact_Card_Input_Frame_two input {
  border: none;
  outline: none;
  font-size: 24px;
}


.contact_Card_Input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #D1D1D1;
  width: 422px;
  height: 50px;
}


.contact_Card_Input:focus-within {
  border-color: rgb(41, 171, 226);
}


.contact_Card_button {
  display: flex;
  flex-direction: row;
  width: 249px;
  gap: 25px;
  margin-top: 20px;
}


.contact_Card_button1,
.contact_Card_button2 {
  display: flex;
  gap: 4px;
  height: 55px;
  font-size: 21px;
  font-weight: 400;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border-width: 1px;
}


.contact_Card_button1 {
  width: 113px;
  background-color: #FFFFFF;
}


.contact_Card_button2 {
  display: flex;
  gap: 4px;
  width: 111px;
  background-color: #2A3647;
  color: white;
}


.contact_Card_button2 img {
  height: 11.22px;
  width: 15.49px;
}


.error-message {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

.input-error {
  border: 1px solid red;
}

.pic-edit {
  width: 120px;
  height: 120px;

}

.contact_abbreviation_big {
  width: 120px;
  height: 120px;
  display: flex;
  background-color: red;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 47px;
  font-weight: 500;
 
}