.contact_close_hover:hover {
  background-color: #D9D9D9;
  border-radius: 50%;
}

.btn_hover_blue:hover {
  cursor: pointer;
  background-color: rgb(41, 171, 226);
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn_hover_white:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(41, 171, 226);
  border-color: rgb(41, 171, 226);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
