body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.session_Card {
  display: flex;
}

.contact_List_Sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  height: 900px;
  width: 400px;
}

.btn_New_Cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: white;
  width: 325px;
  height: 56px;
  background-color: #2A3647;
  border-style: none;
  border-radius: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn_New_Cont p {
  font-size: 21px;
  font-weight: 700;
}

.btn_New_Cont img {
  width: 32px;
  height: 32px;
}

.btn_hover:hover {
  cursor: pointer;
  background-color: rgb(41, 171, 226);
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.contac_List_Sec_Header {
  position: fixed;
  top: 0;
}


.contact_scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 400px;
  background-color: #FFFFFF;
  overflow-y: scroll;
}

/*
.contact_scroll>* {
  min-height: 150vh;
}
*/


.contact_scroll::-webkit-scrollbar {
  scrollbar-width: 6px;
  width: 6px;
}

.contact_scroll::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 3px;
}




.contact_Enty_List {
  margin-top: 60px;
  background-color: #FFFFFF;
  width: 325px;

}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}


.contact_Detail_List {
  display: flex;
  align-items: center;
  gap: 35px;
  height: 48px;
  padding: 15px 24px;
  border-radius: 10px;
  background-color: #FFFFFF;

}

.contact_Detail_List:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01) 0%, #00000014 100%);
  cursor: pointer;



}


.contact_abbreviation {
  display: flex;
  background-color: red;
  width: 42px;
  height: 42px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.contact_name {
  font-weight: 400;
  margin-bottom: 2px;
}

.contact_mail {
  font-weight: 400;
  margin-top: 0;

}


.contact_Detail {
  width: 100%;
  margin-left: 20px;
  margin-top: 110px;
}


.con_Detail_Header {
  display: flex;
  align-items: center;
  gap: 20px
}

.con_Detail_Header p1 {
  font-size: 61px;
  font-weight: 700;
}

.con_Detail_Header p2 {
  font-size: 27px;
  font-weight: 400;
}


.line_Vertikal {
  border-radius: 6px;
  height: 59px;
  width: 3px;
  background-color: rgb(41, 171, 226);
}


.contact_Detail_Adress_Container {
  display: flex;

}

.contact_Detail_Con {
  display: flex;
  align-items: center;
  gap: 54px;
}


.contact_abbreviation_Con {
  display: flex;
  background-color: red;
  margin-top: 30px;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 70%;
  font-size: 47px;
  font-weight: 500;
  margin-bottom: 21px;
  ;
}


.contact_name_Con {
  font-size: 47px;
  font-weight: 500;

}

.contact_Detail_Con_Name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.contact_name_Con_Menue {
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;

}


.contact_name_Con_Menue span {
  display: flex;
  gap: 13px;
  align-items: center;
}

.contact_name_Con_Menue span img {
  width: 24px;
  height: 24px;
}

.contact_name_Con_Menue span:hover {
  cursor: pointer;
  filter: invert(52%) sepia(97%) saturate(300%) hue-rotate(166deg);
}



.contact_Detail_Info_Header {
  font-weight: 400;
  margin-top: 21px;
  margin-bottom: 21px;
}

.contact_Detail_Info_Mail {}
